body{margin:0;padding:0;background:#ffe;font-size:14px;font-family:'微软雅黑','宋体',sans-serif;color:#ff7597;overflow:auto}
a {color:#000;font-size:14px;}
#main{width:100%;}
#wrap{position:relative;margin:0 auto;width:1100px;height:680px;margin-top:10px;}
#text{width:532px;
height:560px;
left:5px;
top:5px;position:absolute;
}
#code{display:none;font-size:15px;}
/*亲爱的那行字*/
#clock-box {position:absolute;left:20px;top:550px;font-size:28px;display:none;}
#clock-box a {font-size:208px;text-decoration:none;}
#clock{margin-left:48px;}
#clock .digit {font-size:64px;}
#canvas{margin:0 auto;width:1100px;height:680px;}
#error{margin:0 auto;text-align:center;margin-top:60px;display:none;}
.hand{cursor:pointer;}
.say{margin-left:32px;}
.say_title{margin-left:0px;}
.space{margin-right:400px;}
